
// Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-treeview";

body {
  font-family: 'Lato';
}


.fa-btn {
  margin-right: 6px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.folder-list a, .bookmark-list a {
  cursor: pointer;
}

.top-button-group {
  display: inline-block;
  text-align: right;
  float: right;
}

.top-button-group > span {
  display: inline-block;
  margin-right: 10px;
}

.folder-list input[type="checkbox"], .bookmark-list input[type="checkbox"] {
  margin-right: 5px;
}

.modal-form {
  display: inline;
}

.search-form {
  margin-bottom: 10px;
}

.create-bookmark-button {
  margin-top: -5px;
}

.create-folder-button, .delete-button, .move-button, .move-home-button, .cancel-button {
  margin-top: -5px;
  margin-right: 5px;
}

.bookmark-icon {
  height: 16px; width: 16px; margin-right: 3px;
}

.import-error {
  margin-top: 10px; margin-bottom: 0
}